In [56]:
import pandas as pd #importando a biblioteca pandas

**1.1. Quantos filmes estão disponíveis no dataset?**

In [57]:
movies = pd.read_csv("movies.csv", sep=";", names=('ID', "Filmes/Ano")) #lendo o arquivo base, atribuiundo um nome ao arquivo, separando o ID e atribuindo nomes as colunas
customer = pd.read_csv('customers_rating.csv', sep=";") #lendo o arquivo base, atribuiundo um nome ao arquivo e separando cada informação.

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [58]:
movies.shape[0] #RESPOSTA

4499

**1.2. Qual é o nome dos 5 filmes com melhor média de avaliação?**

In [59]:
customer.head() #Com as informações separadas, podemos ver com mais clareza as primeiras informações. O head() mostra as 5 primeiras linhas da tabela.

   Cust_Id  Rating        Date  Movie_Id
0  1488844     3.0  2005-09-06       1.0
1   822109     5.0  2005-05-13       1.0
2   885013     4.0  2005-10-19       1.0
3    30878     4.0  2005-12-26       1.0
4   823519     3.0  2004-05-03       1.0

In [60]:
top_five = customer.groupby("Movie_Id").mean()["Rating"].nlargest(5) # Agrupando as informações pelo Movie_Id e pegando a media de seus respectivos Rating, retornando apenas os 5 maiores
top_five.head()

Movie_Id
13.0      4.552000
1476.0    4.469693
1418.0    4.464824
724.0     4.408013
1072.0    4.398458
Name: Rating, dtype: float64

In [61]:
movies.set_index('ID', inplace=True) #Atribuindo o ID dos filmes como índice para facilitar o retorno da informação

In [62]:
movies.loc[[3456,3033,2102,4238,13]].head() #RESPOSTA

                                             Filmes/Ano
ID
3456                             (Lost: Season 1, 2004)
3033  (Ghost in the Shell: Stand Alone Complex: 2nd ...
2102                     (The Simpsons: Season 6, 1994)
4238                                  (Inu-Yasha, 2000)
13    (Lord of the Rings: The Return of the King: Ex...

**1.3. Quais os 5 anos com menos lançamentos de filmes?**

In [63]:
movies = pd.read_csv("movies.csv", sep=",", names=('ID/Filmes', "Ano")) #lendo o arquivo base, atribuiundo um nome ao arquivo, separando o ANO e atribuindo nomes as colunas

In [64]:
bad_years = movies["Ano"].value_counts().nsmallest(5) #RESPOSTA - separando cada ano que teve publicação de filmes e contando quantas publicações teve de filme nos respectivos anos
bad_years.head() #RESPOSTA.

 1926)    1
 1915)    1
 1922)    1
 1917)    1
 1924)    2
Name: Ano, dtype: int64

**1.4. Quantos filmes que possuem avaliação maior ou igual a 4.7, considerando apenas os filmes avaliados na última data de avaliação do dataset?**

In [65]:
large_rating = customer.query('Rating >= 4.7') #Separando apenas os filmes com notas maiores que 4.7 e atribuindo um nome a essa nova tabela
large_rating

         Cust_Id  Rating        Date  Movie_Id
1         822109     5.0  2005-05-13       1.0
11       2207774     5.0  2005-06-06       1.0
19        372233     5.0  2005-11-23       1.0
27        814701     5.0  2005-09-29       1.0
29        662870     5.0  2005-08-24       1.0
...          ...     ...         ...       ...
8332896  1637513     5.0  2003-11-25    1650.0
8332897  2570916     5.0  2004-01-06    1650.0
8332898  1780593     5.0  2004-03-27    1650.0
8332899  1794510     5.0  2004-08-03    1650.0
8332901  1546872     5.0  2005-08-14    1650.0

[1877907 rows x 4 columns]

In [66]:
best_movies = large_rating.sort_values(['Date'], ascending=[False]) #Retornando os filmes organizados pela ordem de Data ('Date') da maior para a menor em uma nova tabela
best_movies

         Cust_Id  Rating        Date  Movie_Id
2439488  2244176     5.0  2005-12-31     457.0
7584679   214144     5.0  2005-12-31    1513.0
4988654  1653240     5.0  2005-12-31     986.0
3425857  1088005     5.0  2005-12-31     638.0
2564161  1369070     5.0  2005-12-31     468.0
...          ...     ...         ...       ...
5721577  1751787     5.0  1999-12-21    1144.0
8108497   510180     5.0  1999-12-16    1615.0
3247626   510180     5.0  1999-12-12     599.0
6940922   510180     5.0  1999-11-11    1367.0
1907646    41-02   348.0         NaN       NaN

[1877907 rows x 4 columns]

In [67]:
best_movies.query('Date == "2005-12-31"').shape[0] #RESPOSTA - Como já descobrimos a maior data, agora retornamos quantos filmes foram publicados nessa data.RESPOSTA.

570

**1.5. Dos filmes encontrados na questão anterior, quais são os 10 filmes com as piores notas e quais as notas?**

In [68]:
small_rating = best_movies.sort_values(["Date"], ascending=[True]) #selecionando os filmes pela data mais antiga, já que todas as notas são iguais.
small_rating.head(10)

         Cust_Id  Rating        Date  Movie_Id
6940922   510180     5.0  1999-11-11    1367.0
3247626   510180     5.0  1999-12-12     599.0
8108497   510180     5.0  1999-12-16    1615.0
5721577  1751787     5.0  1999-12-21    1144.0
4095028   830363     5.0  1999-12-21     788.0
8085436  1751787     5.0  1999-12-21    1615.0
5152184  1751787     5.0  1999-12-21    1035.0
4747068   355883     5.0  1999-12-25     937.0
4341615  1032389     5.0  1999-12-27     829.0
2974218  1004652     5.0  1999-12-28     550.0

In [69]:
small_rating = small_rating.drop(columns=['Cust_Id']) #Excluíndo a coluna Cust_Id já que não será necessária

In [70]:
last_ten = small_rating.head(10) #Atribuindo a um novo dataframe apenas os 10 primeiros resultados da tabela anterior

In [71]:
last_ten #Retornando a nova tabela

         Rating        Date  Movie_Id
6940922     5.0  1999-11-11    1367.0
3247626     5.0  1999-12-12     599.0
8108497     5.0  1999-12-16    1615.0
5721577     5.0  1999-12-21    1144.0
4095028     5.0  1999-12-21     788.0
8085436     5.0  1999-12-21    1615.0
5152184     5.0  1999-12-21    1035.0
4747068     5.0  1999-12-25     937.0
4341615     5.0  1999-12-27     829.0
2974218     5.0  1999-12-28     550.0

In [72]:
last_ten = last_ten.reindex(columns=['Movie_Id', 'Rating', 'Date']) #Reordenando as colunas da tabela para melhor visualização

In [73]:
last_ten #Visualizando a tabela já reordenada

         Movie_Id  Rating        Date
6940922    1367.0     5.0  1999-11-11
3247626     599.0     5.0  1999-12-12
8108497    1615.0     5.0  1999-12-16
5721577    1144.0     5.0  1999-12-21
4095028     788.0     5.0  1999-12-21
8085436    1615.0     5.0  1999-12-21
5152184    1035.0     5.0  1999-12-21
4747068     937.0     5.0  1999-12-25
4341615     829.0     5.0  1999-12-27
2974218     550.0     5.0  1999-12-28

In [74]:
last_ten = last_ten.drop(columns=['Date']) #Excluíndo a coluna Date, pois não será mais necessária

In [75]:
last_ten #Visualizando o dataframe, agora sem a coluna Date. RESPOSTA.

         Movie_Id  Rating
6940922    1367.0     5.0
3247626     599.0     5.0
8108497    1615.0     5.0
5721577    1144.0     5.0
4095028     788.0     5.0
8085436    1615.0     5.0
5152184    1035.0     5.0
4747068     937.0     5.0
4341615     829.0     5.0
2974218     550.0     5.0

**1.6. Quais os id's dos 5 customer que mais avaliaram filmes e quantas avaliações cada um fez?**

In [ ]:
best_customer = customer.groupby("Cust_Id").count()["Rating"].nlargest(5) #Agrupando os Cus_Id e contando quantos Rating cada um fez

In [ ]:
best_customer# Visulizando o resultado atribuído a nova tabela no comando anterior. RESPOSTA.

Cust_Id
305344     4467
387418     4422
2439493    4195
1664010    4019
2118461    3769
Name: Rating, dtype: int64